@{
    ViewBag.Title = "Hiking in Other Galaxies!!!";
}

<div class="jumbotron">
    <h1>HIKING IN OTHER GALAXIES</h1>
    <p class="lead">It is now the 23rd century. Using partricle transmission developed by Brian J Dyko, it is quite easy to travel to other galaxies to take a hike.</p>
    <p><a href="http://cosmology.berkeley.edu/Education/CosmologyEssays/The_Cosmic_Microwave_Background.html" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Reviews</h2>
        <p>
            Check out all the reviews of all our locations. It's like super cool man.
        </p>
        <p><a class="btn btn-default" href="http://localhost:52440/Reviews">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Categories</h2>
        <p>If you're unsatisfied with our current ratings system, make your own with our outtasight database manipulation tool!</p>
        <p><a class="btn btn-default" href="http://localhost:52440/Categories/Index">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>We love space so much!!!</h2>
        <p>For random info about space and stuff...</p>
        <p><a class="btn btn-default" href="https://apod.nasa.gov/apod/random_apod.html">Learn more &raquo;</a></p>
    </div>
</div>