body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Homepage*/

/*Jumbotron*/
.hubble {  
    background-image: url('hubble background.jpg');
    color:whitesmoke;
}


/*Review Index*/

#indexFont{
    font-family: 'Iceland', cursive;
}

/*Galaxy*/

.centerText{
    text-align:center;
}

/*For Galaxy heading*/

h3.galaxy{
    font-family: 'Bungee Outline', cursive;
    font-weight:900;
}

/*Comments*/

p {
    font-family: 'VT323', monospace;
    font-size:22px;
}


/*Review Details*/

#detailsFont{
    font-family: 'Wallpoet', cursive;
}

#reviewFont{
    font-family: 'Wallpoet', cursive;
    font-weight:600;
}

/*Author*/

h5#authorInfo {
   font-weight:900;
   color:blue;
}


/*Date Posted*/

h6#superTiny {
    font-size:xx-small;
}

/*Rating Head*/

#ratingHead{
    text-decoration:underline;
}

.boxed {
    border: 1px solid green;
}

/*Comments*/

h3{
    font-family: 'Geostar Fill', cursive;
    font-weight:700;
}
