body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Homepage*/

/*Jumbotron*/
.hubble {  
    background-image: url('hubble background.jpg');
    color:whitesmoke;
}

div.jumbotron.hubble{
    margin-bottom:0px;
    border-radius:0px;
}

/*Headings for each section*/

.titles{
    font-family: 'Wallpoet', cursive;
    text-align:center;
    color:whitesmoke;
}

/*button Styling*/

a.btn.btn-default{
    background-color:black;
    border-color:green;
    color:whitesmoke;
}

/*Space b/g for the row*/

.cosmicBackground {
    background-image: url('orion.jpg');
}

/*for white text*/

.whiteText{
    color:whitesmoke;
}


/*Review Index*/

#indexFont{
    font-family: 'Iceland', cursive;
}

/*Galaxy*/

.centerText{
    text-align:center;
}

/*For Galaxy heading (index and details)*/

.galaxy{
    font-family: 'Bungee Outline', cursive;
    font-weight:900;
}

/*Comments*/

p {
    font-family: 'VT323', monospace;
    font-size:22px;
}

/*Details Button*/

a.btn.btn-primary{
    background-color:black;
    border-color:green;
}


/*Review Details*/

#detailsFont{
    font-family: 'Wallpoet', cursive;
}

#reviewFont{
    font-family: 'Wallpoet', cursive;
    font-weight:600;
}

/*Author*/

.author {
   font-weight:900;
   color:blue;
}


/*Date Posted*/

h6#superTiny {
    font-size:xx-small;
}

/*Rating Head*/

#ratingHead{
    text-decoration:underline;
}

/*Right Column outline*/

.boxed {
    border: 1px solid green;
}

/*Planet Name*/

#planet {
    font-family: 'Wallpoet', cursive;
}

/*Planet Composed Of*/

#composedOf {
    color:darkolivegreen;
    font-family: 'Iceland', cursive;
    font-size:14px;
}

/*How Many Aliens?*/

#alienNum {
    font-family: 'Geostar', cursive;
    font-weight:600;
}

/*Were The Aliens Friendly?*/

#friendly {
    font-family: 'Wallpoet', cursive;
}


/*Comments*/

h3{
    font-family: 'Geostar Fill', cursive;
    font-weight:700;
}

/*Formatting Pictures in each Review Detail*/

img#andromeda{
    width:500px;
    height:300px;
}

img#virgo{
    width:500px;
    height:300px;
}

img#milkyWay{
    width:500px;
    height:300px;
}

img#magenellic{
    width:500px;
    height:300px;
}

img#orion{
    width:500px;
    height:300px;
}