body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*Homepage*/

/*Jumbotron*/
.hubble {  
    background-image: url('hubble background.jpg');
    color:whitesmoke;
}


/*Review Index*/

/*Galaxy*/

.centerText{
    text-align:center;
}

/*Review Details*/

/*Author*/

h5#authorInfo {
   font-weight:900;
   color:blue;
}

/*Date Posted*/

h6#superTiny {
    font-size:xx-small;
}

p#review{
    color:darkgoldenrod;
}

.boxed {
    border: 1px solid green;
}

